.App {
  text-align: center;
  background-color: #ffffff;
}

::selection {
  background-color: rgba(35, 131, 226, 0.28);
}


/* NavigationBar */

#navigation-bar {
  width: 100%;
  height: 45px;

  background-color: white;

  position: fixed;
  top: 0;

	user-select: none;
  pointer-events: none;
}

#navigation-bar img { height: 45px; }

#navigation-bar #right { float: right; }
#navigation-bar #left { float: left; }

/* Document */

#document {
  width: 42%;
  height: 100vh;

  position: relative;
  top: 140px;
  left: 50%;

  transform: translateX(-50%);
}

#page-icon {
  width: 78px;
  float: left;
  border-radius: 3px;
  cursor: pointer;
	user-select: none;
}

#page-icon:hover { background-color: rgba(0, 0, 0, 0.062); }

.textbox {
  position: relative;
  width: 100%; 
  top: 110px;
  margin-bottom: 17px;
}

.textbox input {
  position: absolute;
  left: 0;
  top: 0;

  width: 100%;

  border: none;
  outline: none;
  background: transparent;
  resize: none;

  color: black;

  font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI",
                Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}

.textbox input::placeholder { color: #b4b4b4; }

/* BlockSideHandle */

.block-side-handle {
  position: absolute;
  left: -45px;
  height: 100%;
  top: 65%;
  transform: translateY(-50%);
	user-select: none;
}

.block-side-handle img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);

  height: 14px;
  opacity: 30%;

  margin: 1px;
  padding: 4px;
  border-radius: 3px;
  cursor: grab;

  z-index: 2;
}

.block-side-handle img:hover { background-color: rgba(0, 0, 0, 0.168); }